.receipt {
  display: none;
}

html, body, .container-fluid {
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

div.sidebar-left {
  background-image: url("../img/pizza_forever.gif");
  background-size: 100%;
  height: 100%;
}

div.sidebar-right {
  background-image: url("../img/pizza_forever.gif");
  background-size: 100%;
  height: 100%;
}
